html {
    scroll-behavior: smooth;
  }

body {
    background: #EEEEEE;
    font-family: GELLIX, sans-serif, Arial;
    padding:0px;
    margin:0px;
}

.logo{
    width: 160px;
    height: auto;
}
.logo-w{
    filter: invert(99%) sepia(35%) saturate(0%) hue-rotate(296deg) brightness(118%) contrast(100%);
}

.highlight span {
    padding: 20px 20px 10px 20px;
}
.h-egreen span {
    background: linear-gradient(to top, #54F2BF 90%, transparent 20%);
}
.h-egreen span.text-white {
    color: white;
}

.top-navigation{
    display: flex;
    justify-content: space-between;
    min-height: 45px;
}
.breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0 0 0;
    list-style: none;
}
.breadcrumb-list li {
    font-size: 0.65rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}
.breadcrumb-list a {
    color: #121212;
}
.breadcrumb-item.active {
    color: #333;
}
.clean a {
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: '/';
    display: inline-block;
    padding: 0 0.5rem;
    color: #d5d5d5;
}
.top-link a {
    display: flex;
    gap:8px;
}
.top-link svg {
    width: 19px;
    transform: rotate(-90deg);
  }
.db-intro {
    padding-bottom: 30px;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 30px;
}
.db-intro h1 {
    font-size: 3rem;
    font-weight: 400;
}
.db-intro p {
    max-width: 600px;
}
.ct-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    margin-bottom:20px;
    max-width: 1200px;
}
.ct-box h2 {
    color: #121212;
    font-size: 24px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 20px;
}
.ct-box {
    border-bottom:1px solid #D2D2D2;
    transition: all .8s;
}
.ct-box a {
    text-decoration: none;
    color: #121212;
}
.ct-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
    transition: all .5s;
}
.ct-box .img-container {
    height: 140px;
    width: 100%;
    object-fit: cover;
}
.ct-box a:hover img {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transform: scale(1.05); 
}
.ct-box:after {
    content: '';
    display: block;
    margin: auto;
    margin-left: 0;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.ct-box:hover:after {
    width: 100%;
    background: #54F2BF;
}
.ct-box a:hover {
    color: #121212;
    text-decoration: none;
}
.db-footer {
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: space-between;
    padding:60px
}
.footer-nav {
    display: flex;
    list-style: none;
    gap:30px;
}
.footer-nav a {
    text-decoration: none;
    color: white;
}
.navigator-logo {
    display: flex;
    gap:10px;
    align-items: center;
}
.navigator-text {
    position: relative;
}
.navigator-logo span.beta {
    font-family: 'VT323', monospace;
    color: #5A66FE;
    font-size: 20px!important;
    position:absolute;
    top: 0px;
    right:-40px;
}
.navigator-logo.header span.beta,
.navigator-logo.footer span.beta {
    font-size: 15px!important;
    right:-26px;
}
.vdx-x {
    position: relative;
}
.n-main {
    padding:60px;
    min-height: calc(100vh - 233px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.n-top .navigator-logo:before {
    content: '';
    background-color: #121212;
    border-radius: 4px;
    position: absolute;
    height:150px;
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
    width: 0px;
    z-index: 2;
}
@keyframes slideInFromLeft {
    0% {
      width: 510px;
      background-color: #121212;
    }
    20% {
        background-color: #2e2e2e;
      }
    40% {
        background-color: #121212;
      }
    60% {
        width: 510px;
        background-color: #2e2e2e;
      }
    65% {
        width: 520px;
      }
    80% {
        background-color: #121212;
      }
    100% {
        width: 0px;
    }
  }

.n-access{
    padding-top:60px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    margin-bottom:20px;
}
.n-access-practice{
    margin-bottom:20px;
    padding:20px;
    transition: all .8s;
    color: #807E7E;
    font-weight: 400;
    position: relative;
    border-radius: 2px;
}
.n-access .n-access-practice a,
.n-access .n-access-practice a h2,
.n-access .n-access-practice a div{
    text-decoration: none;
    color: #121212;
}
.n-access-practice:not(.active){
    border-bottom:1px solid #D2D2D2;
}
.n-access-practice h2{
    font-size: 24px;
    font-weight: 400;
    padding-bottom:30px;
}
.n-access-practice:hover{
    cursor: pointer;
    background:#e4e4e4;
    color: #121212;
}
.n-access-practice svg{
    fill: #807e7e6c;
    width: 24px;
    height:24px;
    position: absolute;
    right:16px;
    bottom:16px;
    transition: all .8s;
}
.n-access-practice:hover svg{
    fill: #121212;
}
.n-access-practice.active svg{
    fill: #121212;
}
.n-access-practice.active{
    background:#8CE3F1;
    color: #121212;
}
.n-access-practice.active:hover{
    background:#47D0E6;
}

.n-access-practice.soon{
    opacity: 0.6;
}

.access-message:before{
    content: 'Request access';
}
.active .access-message:before{
    content: 'Access now';
}
.soon .access-message:before{
    content: 'Coming soon';
}
.action-container{
    display: flex;
    justify-content: space-between;
}
.n-access-practice:not(.active) a {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
  }
.icon-block {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}
    
.n-access-practice:not(.soon):not(.active) .icon-block{ background-image: url('https://www.verdantix.com/docs/default-source/svg/navigator-lock.svg'); }
.active .icon-block { background-image: url('https://www.verdantix.com/docs/default-source/svg/navigator-arrow.svg')}

[id^='editor-'] font[size='2'] { font-size: 18px !important; } 
ul.action-set{justify-content: start !important;padding-top:0px!important}
ul li.action{margin-right:0px!important;padding:0px;}
.btn.btn__text{padding:10px;border:1px solid #121212;border-radius:0px;color:#121212;background:none;}
.action-set .btn.btn__text:hover{border:1px solid #47D0E6; color:#47D0E6!important; background:none}
